body {
    margin: 0;
    padding: 0;
    height: 100vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    color: rgb(90, 52, 5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generate-button, .refresh {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    color: rgb(90, 52, 5);
}

.refresh {
    margin-left: 20px;
}

.sketch-frame {
    padding: 20px;
    margin: 30px;
    border-radius: 16px;
    background-color: rgb(90, 52, 5);
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;

    background-color: white;
}

.grid {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: whitesmoke solid 1px;
}

.hover {
    background-color: bisque;
}